<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
  </head>
  <body>
    <br>
    {% block content %}
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre Tarjeta</th>
        <th>Tasa Interes</th>
        <th>Deuda Inicial</th>
        <th>Por abonar</th>
      </tr>
    </thead>
    <tbody>
      {% for row in csv %}
      <tr>
        {% for col in row.split(",") %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>